@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: white;
    color: #0f141e;

    font: 400 16px 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0f141e;
}

a {
    color: #0f141e;
    text-decoration: underline;
    /*плавное подчеркивание ссылки при наведении*/
    text-decoration-color: transparent;
    /*плавное подчеркивание ссылки при наведении*/
    transition: 2s;
    /*плавное подчеркивание ссылки при наведении*/
}

a:hover {
    text-decoration: underline;
    /*плавное подчеркивание ссылки при наведении*/
    text-decoration-color: #0f141e;
    /*плавное подчеркивание ссылки при наведении*/
}

.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 74px;
}

.logo {}

.nav {}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 24px
}

.nav__item {}

.nav__link {
    color: #BF7506;
    font-size: 16px;
    line-height: 150%;
}

.nav__link.active {
    font-weight: 700;
}

.main {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.main__text {
    margin-left: 27px;
}

.main__strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}

.main__info {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    color: #BF7506;
}

.heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin-top: 8px;
    margin-bottom: 24px;
}

.social__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-right: 60px;
}

.social__item {
    padding: 8px;
}

.header__links {
    display: flex;
    align-items: center;
}

.button_download {
    display: flex;
    align-items: center;
    border: none;
    background: white;
    border-bottom: 2px solid #BF7506;
}

.cv__link {
    padding-right: 4px;
}

.cv__text {
    display: inline;
    padding: 8px;

    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}


/* Секция с портфолио */

.section__heading {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
}

.cards {
    display: flex;
    margin-top: 30px;
}

.card {}

.card__img {}

.card__title {}

.tags__list {}

.tags__item {}

.tags_link {}

.card__info {}

.card__code {}

.card__image {}

.batton__text {}

.card__demo {}